management:
  health:
    circuitbreakers:
      enabled: true

endpoints:
  web:
    exposure:
      include: health

endpoint:
  health:
    show-details: always

resilience4j:
  circuitbreaker:
    instances:
      employeeService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowType: COUNT_BASED
        eventConsumerBufferSize: 10
        automatic-transition-from-open-to-half-open-enabled: true